<!doctype html>
  <head>
    <title>Coursework 1</title>
  </head>

  <body>
    {% for hall in info %}
    <ul>
      <li><h3>{{ hall['name'] }}</h3></li>
      <li><b>Price:</b> {{ hall['price'] }}</li>
      <li><b>Address:</b> {{ hall['address'] }}</li>
      <li><b>Rooms:</b> {{ hall['rooms'] }}</li>
      <li><b>Bathroom:</b> {{ hall['bathroom'] }}</li>
      <li><b>Occupancy:</b> {{ hall['occupancy'] }}</li>
      <li><b>Catering:</b> {{ hall['catering'] }}</li>
      <li><b>Tenancy:</b> {{ hall['tenancy'] }}</li>
      <li><b>Extras:</b> {{ hall['extras'] }}</li>
    </ul>
    {% endfor %}
  </body>
</html>
