body{
   font-family: 'Didact Gothic', sans-serif;
   font-size: 15px;
   color: #212F3D;
   line-height: 1.5;
   body-width: 350px;
   padding: 0px;
   margin:center;
   background-color: #EAF2F8;
   border-color: #1F618D;
}
